@media (max-width: 992px) {
  .order-map {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    min-height: 1279px;
    left: 0;
    margin-left: 0;
  }

  .order-aside {
    width: 100%;
    max-width: 380px;
    max-height: none;
  }

  .order-aside__body {
    width: 100%;
  }

  .order-field {
    width: 100%;
  }

  .order-btn-calc {
    width: 100%;
  }

  .order-form-row {
    flex-direction: column;
  }

  .order-input--half {
    width: 100%;
  }
}
