@media (max-width: 640px) {
  .main-tracking-result .tracking-panel--form {
    top: 40px;
  }

  .tracking-detail {
    top: auto;
    position: relative;
    left: auto;
    transform: none;
    margin: 24px auto 0;
    width: 100%;
    max-width: 593px;
  }

  .main-tracking-result .tracking-panel--form {
    position: relative;
    left: auto;
    transform: none;
    margin: 0 auto;
    width: 100%;
  }

  .tracking-result-bg {
    width: 100%;
    margin-left: 0;
    left: 0;
    height: 100%;
    min-height: 900px;
  }
}
